[Desktop Entry]
Name=FAgram
Comment=Telegram client based on Telegram Desktop
TryExec=fagram
Exec=fagram -- %U
Icon=org.fagram
Terminal=false
StartupWMClass=FAgram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=fagram -quit
Name=Quit FAgram
Icon=application-exit
